.input {
  box-shadow: 5px 5px 0px #000;
  -webkit-box-shadow: 5px 5px 0px #000;
  -webkit-appearance: none;
  @apply p-2 border rounded-none text-sm border-black;
}

.input:focus {
  outline: none;
}
