.hero_container {
  height: 100%;

  @apply w-full flex-col relative text-center flex justify-center items-center;
}

.overlay {
  @apply absolute overflow-hidden top-0 left-0 bottom-0 right-0 w-full backdrop-blur-2xl;
  z-index: -1;
}

.mesh_effect {
  z-index: -1;
  @apply fixed;
}
.mesh_effect_1 {
  left: 15%;
  transform: translateX(-50%);
  top: 25%;
  width: 50%;
  height: 50%;
  animation: rotate_me 40s infinite ease-in;
}

@keyframes rotate_me {
  from {
    transform: rotateZ(0turn);
  }
  to {
    transform: rotateZ(1turn);
  }
}

.mesh_effect_2 {
  right: 20%;
  bottom: 30%;
  width: 45%;
  height: 45%;
  border-radius: 94% 6% 100% 0% / 65% 1% 99% 35%;
  animation: rotate_me 30s infinite linear;
}

.mesh_effect_3 {
  bottom: 4%;
  right: 50%;
  width: 10%;
  height: 25%;
}
