@tailwind base;
@tailwind components;
@tailwind utilities;

.sf {
  font-family: "Shadows Into Light", cursive;
}

.default_shadow {
  box-shadow: 5px 5px 0px #000;
  -webkit-box-shadow: 5px 5px 0px #000;
  -webkit-appearance: none;
  @apply border border-black;
}
html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
}
